@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

html,
body,
#__next {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn-common {
  @apply bg-tertiary-800 text-white text-lg font-bold py-2 px-4 rounded;
}

.input-box{
  @apply p-1 bg-tertiary-50 border border-tertiary-600 rounded;
}
.heading{
  @apply text-tertiary-800 lg:text-6xl md:text-5xl text-4xl  font-bold font-satisfy text-center ;
}
.sub-heading{
  @apply text-tertiary-800 lg:text-5xl text-4xl  font-bold font-satisfy;
}
.page-background > :nth-child(odd) {
  @apply bg-stripes-primary-100 bg-stripes bg-white;
}
.page-background > :nth-child(even) {
  @apply bg-stripes-white bg-crosshatch bg-secondary-100;
}
.max-w-screen-common{
  @apply max-w-screen-xl;
}

.image-carousel-button {
  top: calc(50% - 1rem);
}
.container-common {
  @apply p-6 border-4 border-tertiary-50 bg-white w-full max-w-screen-xl;
}
.divider-common {
  @apply border-b-4 border-tertiary-50;
}
.divider-common-top {
  @apply border-t-4 border-tertiary-50;
}
.mb-common {
  @apply md:mb-16 mb-8;
}
.mt-common {
  @apply md:mt-16 mt-8;
}
.my-common {
  @apply md:my-16 my-8;
}
.py-common {
  @apply md:py-16 py-8;
}
.pb-common {
  @apply md:pb-16 pb-8;
}
.pt-common {
  @apply md:pt-16 pt-8;
}