@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

html,
body,
#__next {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-700 text-white text-lg font-bold py-2 px-4 rounded;
}
.btn-secondary{
  @apply bg-secondary hover:bg-secondary-700 text-white text-lg font-bold py-2 px-4 rounded;
}

.input-box{
  @apply p-1 bg-teal-50 border border-teal-600 rounded;
}

.heading{
  @apply text-6xl font-bold;
}

.sub-heading{
  @apply text-5xl font-bold;
}
.mb-common {
  @apply mb-16;
}

.mt-common {
  @apply mt-16;
}
.my-common {
  @apply my-16;
}

.py-common {
  @apply py-16;
}
.pb-common {
  @apply pb-16;
}
.pt-common {
  @apply pt-16;
}