@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

html,
body,
#__next {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn-common {
  @apply bg-tertiary-800 text-white text-lg font-bold py-2 px-4 rounded;
}

.input-box{
  @apply p-1 bg-tertiary-50 border border-tertiary-600 rounded;
}
.heading{
  @apply text-tertiary-800 text-6xl font-bold font-satisfy ;
}
.sub-heading{
  @apply text-tertiary-800 text-5xl font-bold font-satisfy;
}
.page-background > :nth-child(odd) {
  @apply bg-stripes-primary-100 bg-stripes bg-white;
}
.page-background > :nth-child(even) {
  @apply bg-stripes-white bg-crosshatch bg-secondary-100;
}
.max-w-screen-common{
  @apply max-w-screen-xl;
}

.container-common {
  @apply p-6 border-4 border-tertiary-50 bg-white w-full max-w-screen-xl;
}
.divider-common {
  @apply border-b-4 border-tertiary-50;
}
.divider-common-top {
  @apply border-t-4 border-tertiary-50;
}
.mb-common {
  @apply mb-16;
}
.mt-common {
  @apply mt-16;
}
.my-common {
  @apply my-16;
}
.py-common {
  @apply py-16;
}
.pb-common {
  @apply pb-16;
}
.pt-common {
  @apply pt-16;
}